body {
	margin: 0;
	background-image: url(background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 16px;
}
#wrapper {
	width: 998px;
	padding: 0 20px 20px 20px;
	margin: 0 auto auto 20px;
}
#banner {
	width: 100%;
	height: 100px;
	font-size: 50px;
	text-transform: uppercase;
	text-align: center;
	color: #FFF;
}
#content {
	width: 550px;
	min-height: 280px;
	padding: 20px 20px 30px 20px;
	position: absolute;
	top: 150px;
	left: 260px;
	background-color: #FFF;
}
nav h2{
    width: 200px;
    padding: 0;
    text-align: center;
    border-bottom: 1px solid #216B9A;
    color: #000000;
    float: left;
}
ul#menu {
	width: 200px;
	padding: 0;
	margin-top: 50px;
	border: 1px solid #000;
	background-color: #DA622E;
}
#menu li {
	text-align: center;
	color: #fff;
	padding: 10px 0 10px 20px;
	border-bottom: 1px solid #216B9A;
}
#menu li {
	text-align: left;
	list-style: none;
}
li a {
	color: #FFF;
}
li a:focus, li a:focus {
	color: #000;
}
a {
	text-decoration: none;
	color: #DA622E;
}
a:focus, a:focus {
	color: #09F;
}
#aside {
	width: 150px;
	min-height: 200px;
	float: right;
	margin: 50px 0 0 10px;
	background-color: #999;
}
h1 {
	margin-top: 0;
}
h2 {
	font-size: 100%;
	color: #166BA1;
	margin-top: 0;
}

h1, h2 {
    text-transform: uppercase;
}
aside {
    padding: 20px 10px;
}
aside h1 {
    font-size: 4em;
    color: #166BA1;
}

aside blockquote {
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
    font-size: 90%;
    color: white;
    line-height:1.1;
}
blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

article h2 {
    color:#166BA1;
    font-weight: bold;
}
article img{
    width: 184px;
    height: 244px;
}
img#gondola{
    float: right;
}
img#venice{
    float: left;
    margin-right: 10px;
}

a[href^="http://"]:not([href*="evlach.github.io"]):before{
    content: "";
    width: 16px;
    height: 16px;
    background: no-repeat url('external-link-icon.png');
    padding-right: 1em;
}

.grid {
    display: grid;
    grid-template-columns: auto minmax(min-content, 1fr);
}
form {
    margin-top: 15px;
}
label {
    font-weight:bold;
}
form ul{
    list-style: none;
}
form ul li{
    list-style: none;
}
form fieldset{
    border: 0;
    text-indent: 0;
    display: inline;
    padding: 0;
    margin: 0;
}
legend {
    font-weight: bold;
}
legend:after {
    content: ":";
}
label:after {
    content: ":";
}
.hide-text {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
dl  dd  dl  {
    display: inline;
}

dt {
    display: inline;
}
dt dd{
    display: inline;
}
dt:after {
    content: ":";
}
