/*
    A two column layout is presented on viewports between 600 and 800 (37.5->37em)
    A three column layout is presented on viewports wider than 800 pixels (50em)
    The layout is horizontally centered on viewports wider 1200px (75em)
*/
body {
    margin: 0;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;"nav-down" ;
    font-size: 110%;
    background-image: url(../img/background-min.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

@media all and (min-width: 37em) {
    body {
        background-image: url(../img/background.jpg);
        font-size: 100%;
    }
}
@media all and (min-width: 75em) {
    body {
        background-color: #ffffff;
        text-align: center;
    }
}

h1, h2 {
    text-transform: uppercase;
}

h1 {
    margin-top: 0;
}

h2 {
    color: #166BA1;
    font-size: 100%;
    margin-top: 0;
}

a {
    color: #DA622E;
    text-decoration: none;
}

a:hover, a:focus, a:active {
    color: #09F;
}

li a {
    color: #FFF;
}

li a:focus, li a:hover, li:active {
    color: #000;
}

#wrapper {
    margin: 0 auto auto 0.1%;
    padding: 0 0.1% 1em 0.1%;
    width: 100%;
}

@media all and (min-width: 75em) {
    #wrapper {
        margin-left: auto;
        margin-right: auto;
        text-align: left;
        width: 80%;
    }
}

#banner {
    font-size: 50%;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

@media all and (min-width: 37em) {
    #banner {
        font-size: 80%;
    }
}

@media all and (min-width: 50em) {
    #banner {
        font-size: 120%;
    }
}

main {
    background-color: #FFF;
    margin: 0;
    padding: 0;
}

@media all and (min-width: 37em) {
    main {
        float: left;
        width: 90%;
    }
}

@media all and (min-width: 50em) {
    main {
        width: 80%;
    }
}

aside {
    background-color: #999;
    clear: both;
}

@media all and (min-width: 50em) {
    aside {
        clear: none;
        float: left;
        width: 10%;
    }
}

ul.menu {
    border: 0.2em solid #000;
    padding: 0;
}

ul.menu li {
    background-color: #DA622E;
    border-bottom: 0.1em outset #216B9A;
    color: #fff;
    line-height: 2;
    list-style: none;
    padding: 0.1em 0 0.1em 0.1%;
    text-align: center;
    text-align: center;
}

@media all and (min-width: 37em) {
    ul.menu li {
        line-height: 1;
        padding: 0.4em 0 0.4em 0.2%;
    }
}

ul.menu li:hover, ul.menu li:focus, ul.menu li:active {
    background-color: #999999;
}

@media all and (min-width: 37em) {
    #main_menu {
        float: left;
        width: 10%;
    }
}

a#hamlink {
    color: #ff6040;
    display: block;
    font-size: 70%;
    padding: 0 0 0 2%;
    padding-top: .3em;
    transition: color 5s, line-height 3s;
    -moz-transition: color 5s, line-height 3s;
    -ms-transition: color 5s, line-height 3s;
    -o-transition: color 5s, line-height 3s;
    -webkit-transition: color 5s, line-height 3s;
}

nav {
    font-size: 130%;
    height: 1em;
    overflow: hidden;
    transition: height 3s;
    -moz-transition: height 3s;
    -ms-transition: height 3s;
    -o-transition: height 3s;
    webkit-transition: height 3s;
}

nav:hover, nav:focus, nav:active {
    height: 8.5em;
    transition: height 3s;
    -moz-transition: height 3s;
    -ms-transition: height 3s;
    -o-transition: height 3s;
    -webkit-transition: height 3s;
}

nav:hover a#hamlink {
    color: #D65710;
    line-height: 0;
    overflow: hidden;
    text-indent: 100%;
    transition: line-height 3s;
    -moz-transition: line-height 3s;
    -ms-transition: line-height 3s;
    -o-transition: line-height 3s;
    -webkit-transition: line-height 3s;
    white-space: nowrap;
}

@media all and (min-width: 37em) {
    nav {
        float: left;
        height: auto;
        transition: none;
    }
}

@media all and (min-width: 37em) {
    nav:hover, nav:focus, nav:active {
        height: auto;
        transition: none;
    }
}

@media all and (min-width: 37em) {
    nav:hover a#hamlink {
        height: auto;
        transition: none;
    }
}

@media all and (min-width: 37em) {
    nav a#hamlink {
        font-size: 0;
    }
}

@media all and (min-width: 37em) {
    nav ul li {
        font-size: 100%;
    }
}

footer {
    clear: both;
    text-align: center;
}

@media all and (min-width: 50em) {
    footer ul.menu {
        border: none;
    }
}

@media all and (min-width: 50em) {
    footer ul.menu li {
        border: none;
        color: #000000;
        display: inline;
        list-style: none;
        margin: 0;
        padding: 0;
    }
}

@media all and (min-width: 50em) {
    footer ul.menu li a {
        min-height: 1cm;
    }
}

@media all and (min-width: 50em) {
    footer ul.menu li:after {
        content: ' |';
    }
}

@media all and (min-width: 50em) {
    footer ul.menu li:last-child:after {
        content: '';
    }
}

aside h2 {
    color: #166BA1;
    font-size: 110%;
}

aside blockquote {
    color: white;
    font-size: 90%;
    line-height: 1.1;
    margin: 1.5em 0.1%;
    padding: 0.5em 0.3%;
    quotes: "\201C" "\201D" "\2018" "\2019";
}

blockquote:before {
    color: #ccc;
    content: open-quote;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

article h2 {
    color: #166BA1;
    font-weight: bold;
}

.floatRight {
    float: right;
}

.floatLeft {
    float: left;
}

.radius {
    border-radius: 0.6em;
    -moz-border-radius: 0.6em;
    -webkit-border-radius: 0.6em;
}

a[href^="http://"]:not([href*="evlach.github.io"]):before {
    background: no-repeat url('../img/external-link-icon.png');
    content: "";
    height: 1em;
    padding-right: 1em;
    width: 1em;
}
form {
    margin-top: 1em;
}

label {
    font-weight: bold;
}
form ul {
    list-style: none;
}
form ul li {
    list-style: none;
}
form fieldset {
    border: 0;
    display: inline;
    margin: 0;
    padding: 0;
    text-indent: 0;
}
legend {
    font-weight: bold;
}
legend:after {
    content: ":";
}
label:after {
    content: ":";
}
dl dd dl {
    display: inline;
}
dt {
    display: inline;
}
dt:after {
    content: ":";
}
.html5only {
    display: block;
}

.nohtml5 {
    display: none;
}

table#pricesTable{
}
table#pricesTable > thead{
    font-size: 0;
}
table#pricesTable > tbody th{
    font-size: 130%;
    text-decoration: underline;
}
table#pricesTable > tbody tr{
    display: block;
}
table#pricesTable > tbody td{
    display: block;
    margin-left: 0.1%;
}
table th[data-title]:before, table td[data-title]:before {
    content: attr(data-title) ": ";
    font-weight: bold;
}
@media all and (min-width: 50em) {
    table#pricesTable{
    }
    table#pricesTable > thead{
        font-size: inherit;
    }
    table#pricesTable > tbody th{
        font-size: 100%;
        text-decoration: none;
    }
    table#pricesTable > tbody tr{
        display: table-row;
    }
    table#pricesTable > tbody td{
        display: table-cell;
        margin-left: inherit;
    }
    table th[data-title]:before, table td[data-title]:before {
        content: "";
        font-weight: inherit;
    }
}