/*
A single column layout is presented on viewports less than 600px wide.
*/
body {
    margin: 0;
    padding: 0;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 100%;
    background-color: #0099FF;
}
/*
    A two column layout is presented on viewports between 600 and 800
*/
@media all and (min-width: 37.5em) {
    body {
        background-color: #DDD;
    }
}
/*
    A three column layout is presented on viewports wider than 800 pixels.
*/
@media all and (min-width: 50em) {
    body {
        background-color: #CCC;
    }
}
/*
    The layout is horizontally centered on viewports wider 1200px
*/
@media all and (min-width: 75em) {
    body {
        background-color: #ffffff;
        text-align : center;
    }
}

@media all and (min-width: 75em) {
    #wrapper {
        text-align : left;
        margin-left : auto;
        margin-right : auto;
        position : relative;
        width: 75em;
    }
}
